.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.Hlink:hover {
  text-decoration: underline;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color: #007bff;
}
